@font-face {
	font-family: 'bodoniflf';
	src: url('../fonts/webfontkit/bodoniflf-bold-webfont.woff2') format('woff2'), url('../fonts/webfontkit/bodoniflf-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'bodoniflf';
	src: url('../fonts/webfontkit/bodoniflf-bolditalic-webfont.woff2') format('woff2'), url('../fonts/webfontkit/bodoniflf-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'bodoniflf';
	src: url('../fonts/webfontkit/bodoniflf-italic-webfont.woff2') format('woff2'), url('../fonts/webfontkit/bodoniflf-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'bodoniflf';
	src: url('../fonts/webfontkit/bodoniflf-roman-webfont.woff2') format('woff2'), url('../fonts/webfontkit/bodoniflf-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bodonixt';
	src: url('../fonts/webfontkit/bodonixt-webfont.woff2') format('woff2'), url('../fonts/webfontkit/bodonixt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}